# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- Learn how to use Github
- Learn how to use R and RStudio
- Most popular programming language in Datascience

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. JAVA-ML

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Scikit-learn
3. Pandas

|Data Science Tools|
|---|
|Jupiter Notbooks|
|R Studio|
|watson studio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [12]:
(3*4)+5  # This a simple arithmetic expression to mutiply then add integers

17

In [14]:
200 / 60 #This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
HAYTAM RAIS